#top-div-small {
  height: 35px;
  background: radial-gradient(#00e5ff, #00a6ff);
}

#Calculator {
position: absolute;
left: 400px;
color: white;
}

#Location {
  position: absolute;
  left: 320px;
  color: white;
}

#date {
position: absolute;
left: 475px;
color: white;
}

#home-banking {
  color: #0059ff;
  position: absolute;
  font-size: 25px;
  right: 232px;
  top: 100px;
}

#div-around-sign-in {
  background-color: #0059ff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: white;
  position: absolute;
  top: 150px;
  left: 285px;
  height: 25px;
  width: 65px;
  border: solid #00ddff 3px;
}

#div-around-sign-in:hover {
  border: solid #007bff 3px;
}

#sign-in {
  color: white;
  text-decoration: none;
}

/* this is the main intro stuffs */

#Home_div {
  background: radial-gradient(#00aeff, #008cff);
  width: 1000px;
  height: 250px;
  position: absolute;
  top: 200px;
}

#Home {
color: white;
font-size: 25px;
position: absolute;
text-decoration: none;
background-color: #006aff;
left: 150px;
top: 30px;
border-radius: 7px;
}

#Home:hover {
color: white;
font-size: 25px;
position: absolute;
text-decoration: none;
background-color: #004cff;
left: 150px;
top: 30px;
border-radius: 7px;
}

#What-New {
color: white;
font-size: 25px;
position: absolute;
text-decoration: none;
background-color: #006aff;
left: 230px;
top: 30px;
border-radius: 7px;
}

#What-New:hover {
color: white;
font-size: 25px;
position: absolute;
text-decoration: none;
background-color: #004cff;
left: 230px;
top: 30px;
border-radius: 7px;
}

#Memebership-Services {
color: white;
font-size: 25px;
position: absolute;
text-decoration: none;
background-color: #006aff;
left: 360px;
top: 30px;
border-radius: 7px;
}

#Memebership-Services:hover {
color: white;
font-size: 25px;
position: absolute;
text-decoration: none;
background-color: #004cff;
left: 360px;
top: 30px;
border-radius: 7px;
}
