iframe {
  width: 900px;
}

li {
  font-size: 30px;
}

#racist_article {
border-left: solid grey 2px;
border-right: solid grey 2px;
}

h1, p, li {
  margin: 25px;
  }

  h1 {
   background: linear-gradient(to right, red, white, blue);
   }

   #Related_articles {
background-color: #c3c4e3;
position: absolute;
     left: 1500px;
}

a:hover {
  color: blue;
}
